html, body {
  margin: 0;
  height: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  font-size: 24px;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 715px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

div.intro {
  min-height: auto;
  width: auto;
  position: center;
  border: 10px solid #01a101;
  padding: 25px;
  padding-top: 10px;
  margin: 5px;
}

/* Style the footer */
.footer {
  background-color: #111;
  padding: 10px;
  text-align: center;
  color: lightgray;
}

.login_field {
  top:180px;
  min-height:110px;
  z-index:18;
  text-align: center;
}